
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Definition of the design system. All colors, gradients, fonts, etc should be defined here. */

@layer base {
  :root {
    --background: 255 255 255; /* Branco */
    --foreground: 38 38 38; /* Grafite */

    --card: 255 255 255;
    --card-foreground: 38 38 38;

    --popover: 255 255 255;
    --popover-foreground: 38 38 38;

    --primary: 255 93 36; /* Laranja Koombo */
    --primary-foreground: 255 255 255;

    --secondary: 248 244 226; /* Cream */
    --secondary-foreground: 38 38 38;

    --muted: 248 244 226; /* Cream */
    --muted-foreground: 38 38 38;

    --accent: 248 244 226; /* Cream */
    --accent-foreground: 38 38 38;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 255 255 255;

    --border: 248 244 226; /* Cream para bordas */
    --input: 248 244 226;
    --ring: 255 93 36; /* Laranja para focus */

    --radius: 0.5rem;

    --sidebar-background: 255 255 255;
    --sidebar-foreground: 38 38 38;
    --sidebar-primary: 255 93 36;
    --sidebar-primary-foreground: 255 255 255;
    --sidebar-accent: 248 244 226;
    --sidebar-accent-foreground: 38 38 38;
    --sidebar-border: 248 244 226;
    --sidebar-ring: 255 93 36;
  }

  .dark {
    --background: 38 38 38; /* Grafite */
    --foreground: 255 255 255;

    --card: 38 38 38;
    --card-foreground: 255 255 255;

    --popover: 38 38 38;
    --popover-foreground: 255 255 255;

    --primary: 255 93 36; /* Laranja Koombo */
    --primary-foreground: 255 255 255;

    --secondary: 0 0 0; /* Preto */
    --secondary-foreground: 255 255 255;

    --muted: 0 0 0;
    --muted-foreground: 248 244 226;

    --accent: 0 0 0;
    --accent-foreground: 255 255 255;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 255 255 255;

    --border: 0 0 0;
    --input: 0 0 0;
    --ring: 255 93 36;
    --sidebar-background: 0 0 0;
    --sidebar-foreground: 248 244 226;
    --sidebar-primary: 255 93 36;
    --sidebar-primary-foreground: 255 255 255;
    --sidebar-accent: 38 38 38;
    --sidebar-accent-foreground: 248 244 226;
    --sidebar-border: 38 38 38;
    --sidebar-ring: 255 93 36;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground font-venice;
  }
}
